@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* So 100% means 100% */
    box-sizing: border-box;
  }
body {
    background-color: rgb(226 232 240);
}

.App {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(134, 157, 173, 0.764);
}

.navbar a {
    font-weight: 500;
    color:white;
    font-size: larger;
    padding: 10px;
}
.container {
    height: 30rem;
}

.itemContainer {
    background-color: rgba(255, 255, 255, 0.573);
    width: 300px;
    border-radius: 5px;
    border-color: black;
    margin: 3px;
    padding: 4px;
    cursor: pointer;
}

.itemContainerPage {
    background-color: rgba(255, 255, 255, 0.573);
    width: 300px;
    border-radius: 5px;
    border-color: black;
    padding: 4px;
}

.item {
    display: flex;
    flex-direction: row;
}

.titleContainer {
    display: flex;
    padding-left: 10px;
    flex-direction: column;
}

.itemDate {
    font-size: smaller;
}

.itemTitle {
    font-weight: bold;
    width: fit-content;
    margin-top: 4px;
}


.itemValue{
    text-align: right;
    padding-right: 10px;
    align-self: end;
    font-weight: 600;
    vertical-align: bottom;
}

.itemLocation {
    width: fit-content;
    font-style: italic;
    font-size: smaller;
}

.formContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.573);
}

.formContainer #inputCreateItem {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 10px;
    color:rgba(50, 50, 50, 0.727);
    font-weight: 400;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.formContainer #inputUsername, #inputPassword {
    margin-right: 10px;
    margin-left: 10px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 10px;
    color:rgb(33, 33, 33);
    font-weight: 400;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.formContainer #inputOldPassword, #inputNewPassword {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 10px;
    color:rgb(33, 33, 33);
    font-weight: 400;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.formContainer #inputUsername:focus, #inputPassword:focus, #inputCreateItem:focus, #inputOldPassword:focus, #inputNewPassword:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(134, 157, 173, 0.764);
}


.formContainer span {
    color: rgb(216, 23, 23);
    font-style: italic;
    font-size: smaller;
    margin-left: 15px;
}

.welcomePage {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.authHr {
    width: 40%;
}

.profileButton {
    font-weight: 500;
    color: white;
    font-size: larger;
    padding: 10px;
}

.modalContainer {
    top: auto;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    max-width: 500px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#inputEditValue {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 10px;
  color:rgb(33, 33, 33);
  font-weight: 400;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.settingsContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.573);
}

.settingsContainer span {
    color: rgb(216, 23, 23);
    font-style: italic;
    font-size: smaller;
    margin-left: 15px;
}